.notfound__container{
    display: flex;
    flex-wrap: row wrap;
    width: 100%;
}

.notfound__container .left__container{
    width: 50%;
    flex-basis: 50%;
}

.notfound__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notfound__container .right__container{
    padding: 0px 20px;
    width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.notfound__title{
    font-weight: 500;
    font-size: 30px;
    color: #555555;
    margin-bottom: 21px;
}

.notfound__container .right__container p{
    font-weight: 500;
    font-size: 20px;
    color: #777777;
    margin-bottom: 7px;
}

.input__notfound__wrapper{
    display: flex;
    margin-bottom: 29px;
    width: 100%;
}

.input__notfound__wrapper input{
    width: 100%;
    height: 60px;
    padding: 16px 21px;
    font-size: 1rem;
}

.notfound__btn{
    height: 60px;
    background: #FFFFFF;
    border: 1.5px solid #0053A8;
    font-weight: 500;
    font-size: 16px;
    color: #0053A8;
    padding: 16px 48px;
    cursor: pointer;
    transition: var(--transition);
}

.notfound__btn-lg{
    padding: 16px 20px;
}

.notfound__btn:hover{
    background-color: #0053A8;
    color: #fff;
}
